.container {
    display: flex;
    align-items: center;
    height: 100vh;
    background-image: url('https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1606618252928&di=f9e8dfaa18a130ad6d382070bcbf9bf4&imgtype=0&src=http%3A%2F%2Fcdn.duitang.com%2Fuploads%2Fitem%2F201510%2F17%2F20151017174751_GAdie.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .content {
    width: 100%;
  }